
*.log
*.tlog
*.obj
*.pdb
*.dll
*.lib
*.exe
*.exp
*.make
.vs/2dGameTest/v15/.suo
*.db
*.opendb
*.ipch
.vs/2dGameTest/v15/Solution.VC.db-wal
.vs/2dGameTest/v15/Solution.VC.db-shm
obj/x64/Debug/icon.res
obj/Win32/Debug/icon.res
2dGameTest.vcxproj
2dGameTest.vcxproj.filters
bin/2dGameTest_debug.ilk
2dGameTest.vcxproj
icon.rc
2dGameTest.vcxproj
2dGameTest.vcxproj.filters
bin/2dGameTest_debug.ilk
icon.rc
